.model-train/dataset
.model-train/runs/detect/Adam_925_Capstone_V.0.0.1
.model-train/runs/detect/AdamW_925_Capstone_V.0.0.1
.model-train/yolo11n.pt
.onnx/.env
.onnx/.pytest_cache/
.ultralytics/.env
.ultralytics/.pytest_cache/
.video_feed/.env
.video_feed/.pytest_cache/
wms.log
venv/
__pycache__/